@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "NT";
}

<h4>@ViewBag.Message</h4>
<hr />
<p4>Our company specializes in online tools that are helping working professionals gain greater flexibility and convenience and to accommodate their busy lifestyles through everyday business activities.</p4><br />
<hr />
<h5>Company Address: </h5>
<hr />
<address>
    101 Main Street<br />
    Lexington, KY 40502<br />
    Phone: 859.200.0123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nt4505@gmail.com">nt4505@gmail.com</a><br />
</address>