@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Digital Sun";
}

<h4>@ViewBag.Message</h4>
<hr />
<p4>Our company specializes in online tools that are helping working professionals gain greater flexibility and convenience and to accommodate their busy lifestyles through everyday business activities.</p4>
<br />
<br />
<hr />
<h4>Company Address: </h4>
<hr />
<address>
    101 Main Street<br />
    Lexington, KY 40502<br />
    <abbr title="Phone">P:</abbr>
    859.200.0123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@digitalsun.com">support@digitalsun.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@digitalsun.com">marketing@digitalsun.com</a>
</address>